Name    File    Geometry    Barcodes    5p_ad   3p_ad   5p_seq_insert   3p_seq_insert
{{ sample.name }}   {{ sample.file }}   {{ sample.geometry }}   {{ sample.barcodes }}   {{ sample.5p_ad }}  {{ sample.3p_ad }}  {{ sample.5p_seq_insert }}  {{ sample.3p_seq_insert }}